.App {
  padding: calc(var(--vstep) * 4);
}

.App header {
  color: #282c34;
}

.loading {
  animation: pulse 1s infinite;
}

.col {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--vstep) * 4);
}

@keyframes pulse {
  from {
    opacity: .4;
  }
  50% {
    opacity: .9;
  }
  to {
    opacity: .4;
  }
}