:root {
  --vstep: 14px;
}

* {
  margin: 0;
  padding: 0;
  font-size: var(--vstep);
  line-height: var(--vstep);
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  margin: calc(var(--vstep) * 1) 0;
}

h4,h5,h6 {
  margin: calc(var(--vstep) * 0.5) 0;
}

h1 { font-size: calc(var(--vstep) * 1); }
h2 { font-size: calc(var(--vstep) * 0.9); }
h3 { font-size: calc(var(--vstep) * 0.8); }
h4 { font-size: calc(var(--vstep) * 0.7); }
h5 { font-size: calc(var(--vstep) * 0.6); }
h6 { font-size: calc(var(--vstep) * 0.5); }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  text-align: start;
}

code > pre {
  color: white;
  padding: var(--vstep * 0.5);
  border-radius: 4px;
  background-color: darkslateblue;
  box-shadow: 0 0 0 2px black;
}
