html, body,
p, pre,
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-vstep: 4px;
}

h1,h2,h3,h4,h5,h6 {
  margin: calc(var(--base-vstep) * 4) 0;
}

h4,h5,h6 {
  margin: calc(var(--base-vstep) * 2) 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  text-align: start;
}

code > pre {
  color: white;
  padding: var(--base-vstep);
  border-radius: var(--base-vstep);
  background-color: darkslateblue;
  box-shadow: 0 0 0 2px black;
}
